@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

.avatar-small {
    width: 28px;
}

.avatar-medium {
    width: 48px;
}

.avatar-large {
    width: 68px;
}
.avatar-full {
    width: 100%;
}
body {  
 
 color: #565a5c;
 font-family: "Josefin Slab";
	height: 100vh;
	background-color: #222;
 }
 #map {
        height: 400px;
        width: 100%;
       }
.reservation-table td{
    width: 100%;
    border: 1px solid #dce0e0;
    padding:10px;
}
.price_tag{
    font-size:20px;
    padding:10px;
}
 .container {
 
 width: 80%;
 
 }
 
 .card {
 }
 
 .navbar-default {
 
 background-color: #FFFFFF;
 
 }
 
 
 
 .navbar-default .navbar-brand {
 
 color: #FF5A5F;
 
 font-size: 2em;
 
 font-weight: 400;
 
 }
 
  
.btn-primary.btn {
 
 
 }
 
  
.btn-primary.btn:hover, .btn-primary.btn:focus {
 
 
 }
 
  
.btn-primary.btn:active {
 
 border-color: #e00007;
 
 background-color: #e00007;  
 
 outline:none;
 
 }
 
  
.btn-default.btn {
 
 width: 100%;
 
 border-radius: 2px;
 
 padding: 10px 0;
 
 margin-top: 10px; 
 
 }
 
  
.panel-default .panel-heading {
 
 color: #565a5c;
 
 background-color: #edefed;
 
 font-size: 18px;
 
 font-weight: 400
 
 }
 
  
.row-space-1 {
 
 margin-top: 6px;
 
 margin-bottom: 6px;
 
 }
 
  
.row-space-2 {
 
 margin-top: 12px;
 
 margin-bottom: 12px;
 
 }
 
  
.row-space-3 {
 
 margin-top: 24px;
 
 margin-bottom: 24px;
 
 }
 
  
.description {
 
 color: #575757;
 
 font-size: 15px;
 
 font-weight: 500;
 
 line-height: 25px;
 
 }
 .form-group {
 
 margin-bottom: 25px;
 
 }
 
  
.form-control {
 
 border-radius: 2px;
 
 height: 4rem;
 
 }
 
  
.sidebar-list {
 
 padding-left: 0;
 
 list-style: none;
 
 }
 
  
.sidebar-item {
 
 padding: 10px 0;
 
 font-size: 16px;
 
 color: #82888a;
 
 border-bottom: 1px solid #CCC;
 
 }
 
  
.sidebar-link {
 
 color: #82888a;
 
 text-decoration: none;
 
 }
 
  
.sidebar-link:hover, .sidebar-link:focus {
 
 color: #cacccd;
 
 text-decoration: none;
 
 }
 
  
.active.sidebar-link {
 
 color: #565a5c;
 
 font-weight: bold;
 
 text-decoration: none;
 
 }
 
  
.btn-file {
 
 position: relative;
 
 overflow: hidden;
 
 }
 
  
.btn-file input[type=file] {
 
 position: absolute;
 
 top: 0;
 
 right: 0;
 
 min-width: 100%;
 
 min-height: 100%;
 
 font-size: 100px;
 
 text-align: right;
 
 filter: alpha(opacity=0);
 
 opacity: 0;
 
 outline: none;
 
 background: white;
 
 cursor: inherit;
 
 display: block;
 
 }
    label {
     
     color: #565a5c;
     
     font-size: 1.1em;
     
     font-weight: 500;
     
     margin-bottom: 10px;
     
     }
     
      
    select {
     
     color: #565a5c;
     
     background-color: #fff;
     
     width: 100%;
     
     border: 1px solid #ccc;
     
     border-radius: 2px;
     
     padding: 10px;
     
     appearance: none;
     
     -moz-appearance: none; /* Firefox */
     
     -webkit-appearance: none; /* Safari and Chrome */
     
     }
     
      
    .select:before {
     
     content: '\25bc';
     
     font-size: 1.2em;
     
     position: absolute;  
     
     color: #82888A;
     
     top: 40px;  
     
     right: 30px;
     
     transform: scale(0.84, 0.42);
     
     }
     
      
    input[type="checkbox"] {
     
     height: 1.25em;
     
     width: 1.25em;
     
     margin-bottom: -0.25em;
     
     margin-right: 5px;
     
     vertical-align: top;
     
     border: 1px solid #c4c4c4;
     
     border-radius: 2px;
     
     appearance: none;
     
     -moz-appearance: none; /* Firefox */
     
     -webkit-appearance: none; /* Safari and Chrome */
     
     }
     
      
    input[type="checkbox"]:checked:before {
     
     content: "\2713";
     
     position: absolute;
     
     font-size: 0.95em;
     
     text-align: center;
     
     width: 1.25em;
     
     color: #ff5a5f;
     
     }
   .card{
    padding:0;
   }
   .card img{
    width:100%;
   }
   
    .equipments li {
            margin-bottom: 10px;
            list-style-type: none;
    }
     .text-line-through {
          text-decoration: line-through
     }
     
/* Improve Typography with CSS

*, *:before, *:after {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-feature-settings: "kern";
	font-kerning: normal;
	box-sizing: border-box;
}
html.touch *,html.touch *:before,html.touch *:after {
	text-rendering: optimizeSpeed;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5rem;
	user-select: text;
}

*/

body {
  background: rgba(0, 0, 0, 0.03);
  font-family: 'Karla', sans-serif;
}


.mainbox {
  width: 375px;
  height: 667px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 71px -10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 71px -10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 71px -10px rgba(0,0,0,0.3);
}

h1 {
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: 35px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 25px;
  white-space: pre-line;
}

.toppreheader {
  width: 100%;
  height: 64px;
  position: relative;
  text-align: center;
  color:#FFF;
  font-size: 17px;
  padding-top: 30px;
}

.topleftmenu {
  height: 3px;
  width: 35px;
  position: absolute;
  display: block;
  content: '';
  z-index: 900;
  left: 15px;
  top: 44px;
}

.topleftmenu span, 
.topleftmenu span:before {
  width: 19px;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  display: block;
  content: '';
}

.topleftmenu span:before {
  top: -9px;
  width: 14px;
}


.insidebox {
  background: rgba(0,145,229,1);
  background: -moz-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,145,229,1)), color-stop(47%, rgba(0,145,229,1)), color-stop(47%, rgba(0,162,255,1)), color-stop(100%, rgba(0,162,255,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  background: linear-gradient(45deg, rgba(0,145,229,1) 0%, rgba(0,145,229,1) 47%, rgba(0,162,255,1) 47%, rgba(0,162,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091e5', endColorstr='#00a2ff', GradientType=1 );
  width: 100%;
  height: 190px;
  position: relative;
}


.profilebox {
  width: 88.5%;
  height: 555px;
  background-color: #00A0FF;
  margin-left: auto;
  margin-right: auto;
  z-index: 600;
  position: relative;
  top: 22px;
  color: #FFF;
}

.profileimage {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.profileimage img {
  width: 100%;
}

.followbutton {
  position:absolute;
  top:249px; 
  right: 25px
}


.profiletitlelocation {
  width: 100%;
  height: 109px;
  padding: 12% 7% 0 7%;
  font-size: 13px;
  white-space: pre-line;
}

.separationline {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid #33B3FF;
  margin-left:auto;
  margin-right: auto;
}

.followerslikesholder {
  width: 100%;
  height: 100px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.08em;
}

.followers {
  float: left;
  width: 110px;
  height: 100px;
  padding-top: 16px;
}

.following {
  float: left;
  width: 110px;
  height: 100px;
  padding-top: 16px;
}

.likes {
  float: left;
  width: 110px;
  height: 100px;
  padding-top: 16px;
  white-space: pre-line;
}

.followers span, .following span, .likes span {
  font-size: 30px;
  letter-spacing: 0;
}

.bottomicons {
  width: 100%;
  height: 65px;
  background-color: #FFF;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
}

.bottomicons i {
  width: 100%;
  height: 85px;
  font-size: 31px;
  padding-top: 17px;
}


.outsidetoptext {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  text-align: center;
  margin: 4% 20% 2% 20%;
}

.outsidetoptext p:last-child {
  font-weight: bold;
}

.outsidebottomtext {
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  text-align: center;
  margin: 0 0 4% 0;
}



/* overwrite of some css style from materialize.css */

.invipink {
    background-color: #ffbdb8;
}

.invipink:hover {
    background-color: #dba29d;
}




/* Hexagon and circle ------------------------------------------------------------ */ 

.hexagon {
  position: absolute;
  right: 15px;
  bottom: 14px;
  margin: auto;
  width: 4%;
  height: 0;
  padding-bottom: 4.666999%;
  overflow: hidden;
  -webkit-transform: rotate(-90deg) skewY(30deg) translateZ(0);
          transform: rotate(-90deg) skewY(30deg) translateZ(0);
  z-index: 900;
}

.hexagon:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  -webkit-transform: skewY(-30deg) rotate(60deg);
          transform: skewY(-30deg) rotate(60deg);
  z-index: 900;
}

.circle { 
  width: 5px; 
  height: 5px; 
  background-color: #000; 
  -moz-border-radius: 50px; 
  -webkit-border-radius: 50px; 
  border-radius: 50px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  content: '';
  z-index: 910;
}


     